@import "tailwindcss";

@variant dark (&:is(.dark *));

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes radio-wave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.radio-wave {
  animation: radio-wave 2s ease-out infinite;
}

/* MapLibre popup customization */
.maplibregl-popup-content {
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  border: 1px solid rgb(229 231 235);
  padding: 0;
}

:is(.dark .maplibregl-popup-content) {
  border-color: rgb(64 64 64);
  background-color: rgb(23 23 23);
}

.maplibregl-popup-close-button {
  font-size: 18px;
  padding: 4px 8px;
  color: rgb(115 115 115);
  transition: color 0.2s;
  right: 4px;
  top: 4px;
}

:is(.dark .maplibregl-popup-close-button) {
  color: rgb(163 163 163);
}

.maplibregl-popup-close-button:hover {
  background: transparent;
  color: rgb(0 0 0);
}

:is(.dark .maplibregl-popup-close-button:hover) {
  color: rgb(255 255 255);
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-bottom .maplibregl-popup-tip) {
  border-top-color: rgb(23 23 23);
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-top .maplibregl-popup-tip) {
  border-bottom-color: rgb(23 23 23);
}

.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-left .maplibregl-popup-tip) {
  border-right-color: rgb(23 23 23);
}

.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-right .maplibregl-popup-tip) {
  border-left-color: rgb(23 23 23);
}
