@import "tailwindcss";

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

/* MapLibre popup customization */
.maplibregl-popup-content {
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  border: 1px solid rgb(229 231 235);
  padding: 0;
}

:is(.dark .maplibregl-popup-content) {
  border-color: rgb(55 65 81);
  background-color: rgb(31 41 55);
}

.maplibregl-popup-close-button {
  font-size: 18px;
  padding: 6px 10px;
  color: rgb(75 85 99);
  transition: color 0.2s;
}

:is(.dark .maplibregl-popup-close-button) {
  color: rgb(156 163 175);
}

.maplibregl-popup-close-button:hover {
  background: transparent;
  color: rgb(17 24 39);
}

:is(.dark .maplibregl-popup-close-button:hover) {
  color: rgb(255 255 255);
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-bottom .maplibregl-popup-tip) {
  border-top-color: rgb(31 41 55);
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-top .maplibregl-popup-tip) {
  border-bottom-color: rgb(31 41 55);
}

.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-left .maplibregl-popup-tip) {
  border-right-color: rgb(31 41 55);
}

.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: rgb(255 255 255);
}

:is(.dark .maplibregl-popup-anchor-right .maplibregl-popup-tip) {
  border-left-color: rgb(31 41 55);
}
